/* 隱藏 title */
h1 {
    display: none;
}

body {
    font-family: 'Microsoft JhengHei', '微軟正黑體', 'Microsoft YaHei', sans-serif;
    /* 讓整個頁面和表單置中 */
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(249, 233, 233);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* 限制寬度以使內容更加集中 */
    text-align: center; /* 文字置中 */
}

form {
    display: flex;
    flex-direction: column; /* 讓輸入欄位垂直排列 */
    gap: 10px; /* 增加輸入欄位之間的間距 */
}

label, input, select, button {
    width: 100%; /* 讓所有元素寬度撐滿容器 */
    font-size: 16px; /* 設定字體大小 */
}

input, label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; /* 可選：設定最大寬度 */
}

input, select {
    background-color: rgb(252, 252, 252)
}

select {
    font-size: 18px; /* 調整字體大小 */
    text-align: center; /* 將選單文字置中 */
    text-align-last: center; /* 將選中的選項文字置中 */
    padding: 8px; /* 增加內邊距 */
}

/* 按鈕的樣式 */
button {
    padding: 10px;
    background-color: #f2a145;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ed8332;
}

#elapsed-time {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold; /* 確保字型是粗體 */
    border: none;      /* 移除邊框 */
    background-color: transparent; /* 確保背景透明 */
    outline: none;     /* 移除輸入框的輪廓邊框 */
    color: #000;       /* 設定文字顏色 */
}

/* 閃爍效果 */
#elapsed-time.blink {
    animation: blink 1s step-end infinite; /* 讓文字閃爍 */
}

/* 閃爍的關鍵影格 */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 針對手機設備設置樣式 */
@media screen and (max-width: 768px) {
    #elapsed-time {
        font-size: 1.5em; /* 可以根據手機螢幕調整字型大小 */
        font-weight: bold;
    }
}

/* 移除手機上預設的輸入框外觀 */
input[type="text"], input[type="number"] {
    -webkit-appearance: none;  /* 去除蘋果設備上的預設外觀 */
    -moz-appearance: textfield; /* 去除 Firefox 上的預設外觀 */
    appearance: none;           /* 去除預設外觀 */
}

/* 頁籤按鈕樣式 */
.tabs {
    display: flex;  /* 使用 flexbox 排列按鈕，確保它們在同一列 */
    justify-content: center;  /* 將按鈕置中 */
    gap: 15px;  /* 設定按鈕之間的間距 */
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    background-color: #f2a145;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* 防止文字過長換行 */
}

.tabs button:hover {
    background-color: #ed8332;
}

.tabs button.active {
    background-color: #f08c19;
    color: white;
}
